---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to My Landing Page">
	<main>
		<p>Hello world</p>
	</main>
</Layout>

<style></style>
