---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/sections/Header.astro";
---

<Layout title="Welcome to My Landing Page">
	<Header />
	<main>
		<p>Hello world</p>
	</main>
</Layout>

<style></style>
